# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment variables
.env

# Output files
output/

# Model weights
weights/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# PyTorch / temp
*.pt
*.pth

# Build files
build/
dist/
*.egg-info/

# Cache
.cache/

# weights
runs/

# dataset
earphone_dataset/

#test files
test.py
test_*.py
*_test.py

debug_*.jpg

